body {
    background-color: #000;
    color: #D0D0D0;
}

.container {
    margin-top: 20px;
}

.row {
    height: 768px;
    background-image: url('../images/background-lightning.png');
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.row.bgimage {
    background-image: url('../images/background-group.png');
}

h1 {
    color: #DEDEDE;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inner {
    padding: 20px;
}

.navbar-inverse .navbar-inner {
  /* fallback */
  background-color: #000;
    background-image: none;
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1C1C1C), to(#000));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #1C1C1C, #000);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #1C1C1C, #000);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #1C1C1C, #000);

}

.people-row {
    padding-top: 30px;
}

.news-item-title {
    font-size: 24px;
}

.footer {
    height: 30px;
}

.modal {
	color: #000000;
	width: 800px;
	margin-left: -400px; /* needs to be -(width / 2) */
}

.modal-header {
	height: 40px;
}

#leadership-positions {
    margin-top: 50px;
}


