{% extends "layout.html" %}
{% block body %}
	<div class="span10 content">
        <h1>Contact Us</h1>
        <br/>

        Send us an email at <a href="mailto:olinpowerchords@gmail.com">olinpowerchords@gmail.com</a>
        <br/><br/>
        Or connect with us through:
        <br/><br/>

        <a href="http://www.facebook.com/pages/PowerChords/163911600316044"><img border="0" src="static/images/contact/facebook.jpg" alt="Facebook" width="140"></a>

        <a href="http://www.youtube.com/olinpowerchords"><img border="0" src="static/images/contact/youtube.jpg" alt="Youtube"></a></p>


	</div>


{% endblock %}