{% extends "layout.html" %}
{% block body %}
    <div class="span8 content">
        <h1>Current Members</h1>

        {% for current_member in current_members %}
            {% if (loop.index-1) is divisibleby 6 %}
                <div class="row-fluid people-row">
            {% endif %}

            <div class="span2">
                <a href="#modal-{{ loop.index }}" role="button" data-toggle="modal">
                    <img src="{{url_for('static', filename='images/current_members/thumbs/' + current_member['thumb'])}}" />
                </a>
            </div>

            <div id="modal-{{ loop.index }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-{{ loop.index }}-label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="modal-{{ loop.index }}-label">{{current_member["name"]}}, Class of {{current_member["class_number"]}}</h3>
                    <div id="modal-{{ loop.index }}-label">
                        <div class="span6 text-left">
                            {{current_member["hometown"]}}
                        </div>
                        <div class="span6 text-right">
                            {{current_member["major"]}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span8">
                            <img src="{{url_for('static', filename='images/current_members/thumbs/' + current_member['thumb'])}}" />
                        </div>
                        <div class="span4">
                            {% autoescape false %}
                                {{current_member["bio"]}}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>

            {% if (loop.index) is divisibleby 6 %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="row-fluid" id="leadership-positions">
            <div class="span6 text-right">
                {% for leader in leadership %}
                    {{leader["Position"]}}:<br />
                {% endfor %}
            </div>
            <div class="span6">
                {% for leader in leadership %}
                    {{leader["Name"]}}<br />
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="span2"></div>

{% endblock %}