{% extends "layout.html" %}
{% block body %}
    <div class="span7 content bgimage">
    	<h1 class="text-center">Welcome!</h1>
    	<p>Sporting their characteristic  “flowerchords” since 2007, PowerChords is the oldest a cappella group at Olin College of Engineering. Despite their wide range of interests, they have found unity in all styles of a cappella through powerful arrangement style and electric enthusiasm during performances.</p>
	</div>
    <div class="span3 news">
        <h3>Recent News</h3>
        <strong>{{ news_item['title'] }}</strong> - {{ news_item['date'] }}<br />
        <p>
            {{ news_item['body'] }}
        </p>
        <a href="{{ url_for('news') }}">More News</a>
    </div>
{% endblock %}