<!DOCTYPE HTML>
<html>
<head>
    <title>Olin College PowerChords</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner text-center">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" />
            </a>
        </div>
    </div>

    <div class="container">
<!--         <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
 -->            <!-- Carousel items
        <div class="carousel-inner">
        <div class="active item">…</div>
        <div class="item">…</div>
        <div class="item">…</div>
    </div>
      <!-- Carousel nav
<!--       <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
 --> 
         <div class="row{{ ' bgimage' if bgimage else ''}}">
            <div class="span2 sidebar">
                <h1></h1>
                <ul class="nav nav-stacked nav-pills">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('current_members') }}">Current Members</a></li>
                    <li><a href="{{ url_for('alumni') }}">Alumni</a></li>
                    <li><a href="{{ url_for('news') }}">News</a></li>
                    <li><a href="{{ url_for('repertoire') }}">Repertoire</a></li>
                    <li><a href="{{ url_for('merch') }}">Merchandise</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>

                </ul>
            </div>

            {% block body %}
            {% endblock %}
        </div>
    </div>

    <div class="footer">
    </div>
</body>
</html>