{% extends "layout.html" %}
{% block body %}
	<script type="text/javascript">
		// $('.tab_link a').click(function (e) {
			// e.preventDefault();
			// $(this).tab('show');
		// });
	</script>
	<div class="span10 content">
        <h1>Media</h1>
    	<ul class="nav nav-tabs">
    		<li class="active" id="audio_tab">
    			<a href="#audio_tab_content" class="tab_link" data-toggle="tab">Audio</a>
    		</li>
    		<li id="youtube_tab">
    			<a href="#youtube_tab_content" class="tab_link" data-toggle="tab">YouTube</a>
    		</li>
    		<li id="pictures_tab">
    			<a href="#pictures_tab_content" class="tab_link" data-toggle="tab">Pictures</a>
    		</li>
    	</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="audio_tab_content">

			</div>

			<div class="tab-pane" id="youtube_tab_content">
				 <iframe width="560" height="315" src="http://www.youtube.com/embed/JLpK3SxvlLc" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="tab-pane" id="pictures_tab_content">
			</div>
		</div>
	</div>




{% endblock %}