{% extends "layout.html" %}
{% block body %}
	<div class="span10 content">
        <h1>Power Paraphernalia</h1>


Email us at <a href="mailto:olinpowerchords@gmail.com">olinpowerchords@gmail.com</a> if you'd like to place an order! We will ship to you (standard shipping rates apply).
<br/><br/>
PowerChords T-shirt - $15.00 <br/><br/>
<img src="static/images/merch/pctshirt.jpg" width="350"/>
<br/><br/>
Shameless Plug, our new CD! - $15.00 <br/><br/>
<img src="static/images/merch/ShamelessPlugCover2.jpg" width="250"/>
<img src="static/images/merch/ShamelessPlugDetails.jpg" width="250"/>

</div>
{% endblock %}