{% extends "layout.html" %}
{% block body %}
	<div class="span8 content">
        <h1>News</h1><br/>

        {% autoescape false %}
        {% for news_item in news_items %}
            <strong class="news-item-title">{{ news_item['title'] }}</strong> - {{ news_item['date'] }}<br />
            <p>
                {{ news_item['body'] }} <br/><br/>
            </p>
        {% endfor %}
        {% endautoescape %}

        <div class="pagination pagination-centered pagination-large">
            <ul>
                <li {{ 'class=active' if cur_page == 1 }}><a href="{{ url_for('news', page=cur_page-1) }}">&lt;</a></li>

                {% for page in other_pages_to_show %}
                    <li {{ 'class=active' if cur_page == page }}><a href="{{ url_for('news', page=page) }}">{{ page }}</a></li>
                {% endfor %}

                <li {{ 'class=active' if cur_page == tot_num_pages }}><a href="{{ url_for('news', page=cur_page+1) }}">&gt;</a></li>
            </ul>
        </div>
	</div>

    <div class="span2"></div>



{% endblock %}